[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
build = "*"
image-pyconverter-cli = {editable = true, path = "."}

[dev-packages]
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
